.buttonInput{
    position: relative;
    overflow: hidden;
    align-self: center;
}
#imagen{
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    left: 0px;
    top: 0px;
}
label{
    font-size: 20px;
}
.content-button>div{
    display: flex;
    flex-direction: column;
}
.imagen{
    width: 280px;
    height: 280px;
    border: 1px solid black;
    align-self: center;
    margin: 10px;
    overflow: hidden;
}
.imagen img {
    width: 280px;
    height: 280px;
    object-fit: cover;
}

.bg-blue-ligth {
    background: #9ec5fe;
}